.activities-container{
	background-color: red;
	color:green;
}
#rec-btn{
	margin-top:3vh;
	text-align: center;
	font-size: 10vw;
	white-space:normal;
}

#activity-text{
	margin-top:5vh;
	width:75vw;
	margin-left: 10vw;
	margin-right: 10vw;
	font-size: 3.5em;
	display:none;
}